.actions {
    width: 100%;
    button {
        background: none;
        padding: 3px;
        &:first-child {
            margin-right: 15px;
        }
        i {
            font-size: 1.5em;
            margin-right: 2px;
        }
    }
}

.card-header {
    padding: 0;
}

.input-search {
    width: 100%;
    input {
        width: 40%;
        height: 35px;
    }
}