<section class="container-fluid">
    <app-title-page title="Catalogo"></app-title-page>
    <br>

    <div class="row">

        <!-- <div class=" col-12 input-search">
            <input type="text" (keyup)="filterList()" [(ngModel)]="filter" placeholder="Search">
        </div> -->

        <div class="accordion col" id="accordionExample" *ngIf="filmes.length > 0">
            <div class=" mb-1" *ngFor="let filme of filmes; let i = index">
                <div class="card-header bg-primary" (click)="openAccordion(i)" id="heading{{i}}">
                    <h2 class="mb-1">
                        <button class="btn btn-block text-left text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{filme.titulo}}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body ">
                        <p><strong>Titulo: </strong>{{filme.titulo}}</p>
                        <p><strong>Sinopse: </strong>{{filme.sinopse}}</p>
                        <p><strong>genero: </strong>{{filme.genero}}</p>
                        <p><strong>Idioma: </strong>{{filme.idioma}}</p>
                        <p><strong>Legendado: </strong>{{filme.legendado}}</p>
                        <p><strong>Avaliação: </strong>{{filme.avaliacao}}</p>
                        <p><strong>Ano de lançamento: </strong>{{filme?.dtLancamento != (null||'') ? (filme?.dtLancamento | date: 'yyyy') : 'N/I' }}</p>
                        <p><strong>Diretor: </strong>{{filme.diretor != (null||'') ? filme.diretor : 'N/I'}}</p>
                        <p><strong>Imdb: </strong>{{filme.imdbLink != (null||'') ? filme.diretor : 'N/I'}}</p>
                        <div class="actions">
                            <button class="btn" [routerLink]="['admin/cadastro/', filme.id]"><i class="fa fa-pencil-square txt-default" aria-hidden="true"></i>Editar</button>
                            <button class="btn" (click)="removeFilme(filme)"><i class="fa fa-minus-circle txt-danger" aria-hidden="true" ></i>Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" *ngIf="filmes.length == 0">
            <h5 class="text-center">Catalogo vazio</h5>
            <p class="text-center">Você pode adicionar novos itens clicando aqui: <strong [routerLink]="['admin/cadastro']">Cadastrar</strong> </p>

        </div>
    </div>


</section>